.icon {
  width: 1em;
  height: 1em;
  /* vertical-align: -0.15em; */
  fill: currentColor;
  overflow: hidden;
}
.icon-color {
  font-size: 5rem;
  cursor: pointer;
}
.navbar-toggler {
  border: none;
}
.nav-item {
  margin: 0rem 0.75rem;
  font-weight: 500;
  font-size: 1.15rem;
}
a {
  color: black !important;
  text-decoration: none !important;
}
.change-lang {
  position: relative;
  top: 0.15rem;
  cursor: pointer;
  font-weight: 500;
}
.header-bg {
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(224, 224, 224, 1);
  filter: blur(17px);
  opacity: 1;
}
.logo-text {
  font-size: 1.4rem;
  font-weight: 500;
  position: relative;
  top: 0.3rem;
}
